.header {
  background-color: $color-grey-dark-1; 
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba($color-secondary, .83), rgba($color-secondary, .83)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr min-content 1fr 1fr;
  // grid-template-rows: 2fr repeat(3, 1fr);
  grid-template-columns: minmax(min-content, max-content);
  padding: 4rem;
  grid-gap: 1rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  &__logo {
    height: 10rem;
    margin-top: -4rem;
    justify-self: center;
    // margin-left: -3rem;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 1.5rem;
    margin-left: -3rem;
    color: $color-grey-light-2;
    justify-content: center;

    &::before,
    &::after {
      content: "";
      height: .15rem;
      display: block;
      background-color: currentColor;
    }
  }


  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    // align-items: center;

    img {
      max-height: 1.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }

  &__btn {
    align-self: start;
    justify-self: center;
    margin-left: -1rem;
  }
}